* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: $bg-color;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  width: 100%;
}

.input-container {
  margin-bottom: $l-size;
  border-bottom: $s-size/3 solid darken($bg-color, 8);
  border-left: $m-size/3 solid lighten($bg-color, 1);
  background-color: darken($bg-color, 2);
  padding: $s-size/2;

  input {
    width: 100%;
    border: none;
    outline: none;
    font-size: $s-size / 1.2;
    font-weight: 600;
    padding: $s-size / 2;
    border-right: $s-size/6 solid darken($bg-color, 8);
    border-top: $s-size/6 solid darken($bg-color, 8);
    color: #6a6a6a;

    &:focus {
      border-right: $s-size/6 solid darken($bg-color, 2);
      border-top: $s-size/6 solid darken($bg-color, 2);
    }
    &::placeholder {
      font-size: $s-size / 1.2;
      font-weight: 600;
      font-style: italic;
      opacity: 0.5;
    }
  }
  .message {
    margin: $s-size/3;
    font-weight: bold;
    color: darken($bg-color, 48);
  }
}

.app-container {
  margin: $s-size;
  height: 100%;
  flex: 1;
}

.icon-container {
  padding: $s-size / 2;
  background-color: #fff;
  display: flex;
  width: fit-content;
  align-items: center;

  .icon {
    &:first-of-type {
      margin-right: 8px;
    }
  }
}

.footer {
  height: $xxl-size * 2;
  width: 100%;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $bg-color;
  background-color: #20232a;
}

.btn {
  @include noselect;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $s-size/3 $m-size;
  font-weight: 600;
  width: 100%;
  color: darken($bg-color, 54);
  background-color: darken($bg-color, 16);
  border-bottom: $s-size/3 solid darken($bg-color, 24);
  &:hover {
    background-color: darken($bg-color, 12);
  }
  &:active {
    background-color: darken($bg-color, 8);
    border-bottom: $s-size/4 solid darken($bg-color, 24);
    border-top: $s-size/12 solid darken($bg-color, 8);
  }
}

.icon {
  height: $m-size;
  color: darken($bg-color, $amount: 24);
}

.my-pokes-page {
  h2 {
    margin-bottom: $m-size;
  }
}

.pokemon-browser-page {
  h2 {
    margin: $s-size 0;
  }
}

@media (min-width: 576px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .app-container {
    margin: $xxl-size;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
