// Sizes
$ms-size: 1.2rem;
$s-size: 1.4rem;
$m-size: 1.6rem;
$ml-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 7.2rem;
$desktop-breakpoint: 45rem;

// Colors
$bg-color: #fbfcfc;
$bg-color: #f6f5f5;
$blue: #2d66fa;
$off-blue: #282947;
$grey: #f7f7f7;
$off-grey: #b4bfdc;
$black: #283054;
$black: #262635;
$off-black: #30303f;
$off-white: #fcfbfd;
$red: #ff2222;
$purple: #be9fe1;
$orange: #f38356;
$yellow: #f2ed6f;
$dark-yellow: #ffd868;
$cream: #f8fab8;
$dark-cream: #f8dc88;
$light-blue: rgb(92, 174, 241);
$shadow: #28294725;
